<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
        Flask Authentication
        {% endblock %}
    </title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <nav class="navbar">

        <h2>Flask Authentication</h2>

        <div>

            <a href="{{ url_for('home') }}">
                Home
            </a>

            {% if session.get("user_id") %}

                <a href="{{ url_for('dashboard') }}">
                    Dashboard
                </a>

                <a href="{{ url_for('logout') }}">
                    Logout
                </a>

            {% else %}

                <a href="{{ url_for('login') }}">
                    Login
                </a>

                <a href="{{ url_for('register') }}">
                    Register
                </a>

            {% endif %}

        </div>

    </nav>


    <main class="container">

        {% block content %}

        {% endblock %}

    </main>

</body>

</html>